@media only screen and (max-width: 700px) {
    .navKontainer {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .fa {
        display: none !important;
    }

    .ikonice {
        justify-content: center;
    }

    .Interest {
        margin-inline: auto;
    }

    .FooterKontainer {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .AboutUs {
        width: 100%;
    }

    .AboutUsText1 {
        width: 90%;
        align-self: center;
    }

    .ZaSliku {
        align-self: center;
    }

    .ZaSliku img {
        width: calc(100vw - 10rem);
    }

    .NewText {
        width: 90%;
        align-self: center;
    }

    .seeMore {
        width: 90%;
    }

    .text2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pText2 {
        width: 90%;
        margin: 0;
    }

    .tekstovi {
        width: 100%;
    }

    .HeroSection {
        height: 800px;
    }
}

@media only screen and (max-width: 1200px) {
    .Posts {
        width: 100%;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    .WhatsNew {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .Photo2 {
        width: 100%;
    }

    hr {
        width: 100%;
    }

    .Hero {
        background-position: center;
    }

    .uvodniText {
        margin-inline: auto;
        width: 80%;
    }

    .prviDiv {
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
    }

    .pText1 {
        width: 90%;
        margin-inline: 0;
    }
}

@media only screen and (max-width: 900px) {
    .AboutUs {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .a {
        align-self: center;
    }
}

@media only screen and (max-width: 500px) {
    .glass {
        width: 80%;
    }

    .glass p {
        font-size: 1.5rem;
    }

    .uvodniText {
        width: 90%;
    }

    .naslov {
        font-size: 16px;
    }

    .slika1 > img {
        width: calc(100vw - 10rem);
        height: auto;
    }

    .hr1 {
        width: 280px;
    }
    .helperText {
        font-size: 0.7rem;
     }
    .errorText {
         font-size: 0.7rem;
    }
}

@media only screen and (max-width: 1000px) {
    .jedanDiv {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    .prviText {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pText3 {
        width: 80%;
        padding: 0;
    } 

    .drugiDiv {
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 0;
        gap: 10px;
    }

    .textTreci {
        width: 90%;
    }

    .prviDiv2 {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }


    .text1 {
        padding: 0;
        margin-inline: 0;
        margin-bottom: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}